body {
    background-image:url("../images/tbdBG.png");
    background-size:cover;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color:white;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    font-size:7em;
    text-align:center;
}
