<header>
  <nav>
    <ul>
      <li><a href="#/timeline">TIMELINE</a></li>
      <li><a href="#/gifts">GIFTS</a></li>
      <li><span class="bigHead">THE BIG DAY</span> </li>
      <li><a href="#/rsvp">RSVP</a></li>
      <li><strong><a href="#/budget">BUDGET</a></strong></li>
    </ul>
  </nav>
</header>
<div class="budgetPage">
  <form action="" ng-hide="budgetSubmitted">
    <h3>What is your total budget?</h3>
    <input type="number" ng-model="newBudget.total" required>
    <button ng-click="createBudget(newBudget.total); budgetSubmitted=!budgetSubmitted">Submit</button>
  </form>
  <section ng-show="budgetSubmitted">
  <h3>Your total wedding budget: ${{budget.total}}</h3>
  <h3>What you have left: ${{budget.left}}</h3>

  <h3>Purchases:</h3>
  <ul ng-repeat="expense in budget.expense">
    <li>{{expense.item}} - ${{expense.price}}</li>
  </ul>
  </section>

  <aside ng-show="budgetSubmitted">
    <form action="">
      <h3>What have you purchased so far?</h3>
      <h3>Item:</h3>
      <input type="text" ng-model="newExpense.item" required>
      <h3>Price:</h3>
      <input type="number" ng-model="newExpense.price" required>
      <button ng-click="addExp(newExpense)">Add Expense</button>
    </form>


  </aside>
</div>
