<header>
  <nav>
    <ul>
      <li><a href="#/timeline">TIMELINE</a></li>
      <li><a href="#/gifts">GIFTS</a></li>
      <li><span class="bigHead">THE BIG DAY</span> </li>
      <li><a href="#/rsvp">RSVP</a></li>
      <li><strong><a href="#/budget">BUDGET</a></strong></li>
    </ul>
  </nav>
</header>
<div class="budgetPage">
    <form class="initialBQ" action="" ng-hide="budgetSubmitted">
      <h3>What is your total budget?</h3><br>
      <input type="number" ng-model="newBudget.total" required>
      <button ng-click="createBudget(newBudget.total); budgetSubmitted=!budgetSubmitted">Submit</button>
    </form>
    <div class="budChart" ng-show="budgetSubmitted">
    <h3 class="expenseItem">Total Budget: ${{budget.total}}</h3>
    <h3 class="expensePrice">Left To Spend: ${{budget.left}}</h3>

    <h2>Expenditures</h2>
    <hr>
    <div class="chart" ng-repeat="expense in budget.expense">
      <div class="expenseItem"><p>{{expense.item}}</p></div>
      <div class="expensePrice"><p>${{expense.price}}</p></div>
      <hr>
    </div>
    <h3 class="expenseItem">Total Spent:</h3>
    <h3 class="expensePrice">${{budget.spent}}</h3>
    <br>
      <form class="expenseForm" action="">
        <h3>Item:</h3>
        <input type="text" ng-model="newExpense.item" required>
        <h3>Price:</h3>
        <input type="number" ng-model="newExpense.price" required>
        <button ng-click="addExp(newExpense)">Add Expense</button>
      </form>

  </div>

</div>
