<header>
  <nav>
    <ul>
      <li><a href="#/timeline">TIMELINE</a></li>
      <li><strong><a href="#/gifts">GIFTS</a></strong></li>
      <li><span class="bigHead">THE BIG DAY</span> </li>
      <li><a href="#/rsvp">RSVP</a></li>
      <li><a href="#/budget">BUDGET</a></li>
    </ul>
  </nav>
</header>
<div>
  <div class="giftbox">
    <form>
      <input id="basic-slide" type="text" ng-model="newGift.name" placeholder="Enter Name">
      <input id="basic-slide" type="text" ng-model="newGift.location" placeholder="Enter Address">
      <input id="basic-slide" type="text" ng-model="newGift.description" placeholder="Enter Gift">
      <button id="buttonwrsvp" ng-click="createGift(newGift)"><i class="fa fa-circle-o-notch fa-spin fa-4x"></i></button>
    </form>
  </div>
  <div class="classscroll">
    <div ng-repeat="gift in gifts" ng-hide="enterGift" id="giftrepeat">
      <h3>Name: {{gift.name}}</h3>
      <h3>Address: {{gift.location}}</h3>
      <h3>Gift: {{gift.description}}</h3>
      <button ng-click="enterGift = !enterGift"><i class="fa fa-times fa-4x"></i></button>
    </div>
  </div>
</div>
