<button ng-click="goToTimeline()">Timeline</button>
<button ng-click="enterGift = !enterGift"><i class="fa fa-gift"></i></button>
<div>
  <div>
    <form ng-show="enterGift">
      <button ng-click="enterGift = !enterGift"><i class="fa fa-times"></i></button>
      <input type="text" ng-model="newGift.name" placeholder="Enter Name">
      <input type="text" ng-model="newGift.location" placeholder="Enter Address">
      <input type="text" ng-model="newGift.description" placeholder="Enter Gift">
      <button ng-click="createGift(newGift)">Add Gift</button>
    </form>
  </div>
  <div ng-repeat="gift in gifts">
    <h3>Name: {{gift.name}}</h3>
    <p>Address: {{gift.location}}</p>
    <p>Gift: {{gift.description}}</p>
  </div>
</div>
