
<header>
  <nav>
    <ul>
      <li><a href="#/timeline">TIMELINE</a></li>
      <li><a href="#/gifts">GIFTS</a></li>
      <li><span class="bigHead">THE BIG DAY</span> </li>
      <li><strong><a href="#/rsvp">RSVP</a></strong></li>
      <li><a href="#/budget">BUDGET</a></li>
    </ul>
  </nav>
</header>





  <form>
  <h3>RSVP LIST</h3>
<h3>Total Reserved Guest: {{guests.length}}</h3>
        <input id="basic-slide" class="add-input" placeholder="Your Name" type="text" ng-model="newGuest.name"/>

        <input  class="add-input" id="basic-slide"  type="text" placeholder="Your Guest's name" ng-model="newGuest.extraguest" />
        <button id="buttonwrsvp" class="add-btn" ng-click="createGuest(newGuest)"><i class="fa fa-circle-o-notch fa-spin fa-4x"></i></button>
   </form>

  
   


 <form class="stylethersvpform" >
  <div ng-repeat="guest in guests = (guests | filter: query)" class="stylersvpclass" id="listcolor">
     <input type="checkbox"  ng-model="guest.done" ng-hide="removeRSVP" id="listcolor"> RSVP Checked</input>

 <p ng-hide="removeRSVP" class="done-{{guest.done}}" id="listcolor">   Reserved on {{guest.date | date: format : timezone}}</p>
      <p ng-hide="removeRSVP" class="done-{{guest.done}}" id="listcolor"> NAME {{guest.name}} </p>
  
   <p ng-hide="removeRSVP" class="done-{{guest.done}}" id="listcolor">   Plus 1: {{guest.extraguest}}

    <br>

   <span ng-hide="removeRSVP" > <input type="checkbox" ng-model="value2" 
                 ng-true-value="NO" ng-false-value="YES" >
                 <tt>Children attending = {{value2}} </tt> <br/> </span></p>

      <span ng-hide="removeRSVP" class="done-{{guest.done}}" >  </spa>
        <!-- <button ng-click="removeRSVP=!removeRSVP">NOT COMING</button> -->
  </div>
 </form>







<!-- <div >
   <ul>
        <li ng-repeat="rsvp in rsvp">
          <input type="checkbox" ng-model="rsvp.done"/>
          <span ng-hide="removeRSVP" class="done-{{rsvp.done}}"> RSVP: {{rsvp.text}}</span>
           <span ng-hide="removeRSVP" class="done-{{rsvp.done}}"> Date: {{rsvp.date | date: format : timezone}}</span>
          <button ng-click="removeRSVP=!removeRSVP" >NOT COMING</button>
        </li>
      </ul>
     </div> -->
