<header>
  <nav>
    <ul>
      <li><strong><a href="#/timeline">TIMELINE</a></strong></li>
      <li><a href="#/gifts">GIFTS</a></li>
      <li><span class="bigHead">THE BIG DAY</span> </li>
      <li><a href="#/rsvp">RSVP</a></li>
      <li><a href="#/budget">BUDGET</a></li>
    </ul>
  </nav>
</header>

<div class="mainCont">
  <div class="dispDate">
    <h1>{{grabDate}} months until your big day!</h1>
  </div>
</div>

<ul class="timeline">

    <!-- this is the first set of events -->
    <li class="year first">
      <h4>Nine to Sixteen Months Out</h4>
    </li>
    <li class="event" ng-repeat="event in nineToSixteenMonths" ng-click="done = !done" ng-hide="done">
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-note">{{event.note}}</p>
    </li>
    
    <!-- this is the second set of events -->
    <li class="year">
      <h4>Eight Months Out</h4>
    </li>
    <li class="event" ng-repeat="event in eightMonths">
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-note">{{event.note}}</p>
    </li>

    <!-- this is the third set of events -->
    <li class="year">
      <h4>Six to Seven Months Out</h4>
    </li>
    <li class="event" ng-repeat="event in sixToSevenMonths">
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-note">{{event.note}}</p>
    </li>

    <!-- this is the fourth set of events -->
    <li class="year">
      <h4>Four to Five Months Out</h4>
    </li>
    <li class="event" ng-repeat="event in fourToFiveMonths">
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-note">{{event.note}}</p>
    </li>

    <!-- this is the fifth set of events -->
    <li class="year">
      <h4>Three Months Out</h4>
    </li>
    <!-- ng-repeat through the events -->
    <li class="event" ng-repeat="event in threeMonths">
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-note">{{event.note}}</p>
    </li>


    <!-- this is the sixth set of data -->
    <li class="year">
      <h4>Two Months Out</h4>
    </li>
    <!-- ng-repeat through the events -->
    <li class="event" ng-repeat="event in twoMonths">
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-note">{{event.note}}</p>
    </li>

  
    <li class="year">
      <h4>One Month Out</h4>
    </li>
      <li class="event" ng-repeat="event in oneMonth">
        <h2 class="event-title">{{event.title}}</h2>
        <p class="event-note">{{event.note}}</p>
      </li>

</ul>
