$offwhite: #F9E3CD;
body{
  background-image: url(../images/tbdBG.png);
  background-size:100%;
  margin:0;
  padding:0;
}
.container{
  width:100%;
  margin:0;
  padding:0;
}
header{
  width:100%;
  font-family: 'Oswald', sans-serif;
  margin:0;
  padding:0;
  text-align:center;
  ul{
    margin:0;
    padding:0;
  }
  li{
    display:inline-block;
    list-style:none;
    font-size:2em;
    text-align:center;
    font-weight:300;
    vertical-align:middle;
    margin: 0 1%;
  }
  a{
    text-decoration:none;
    color:$offwhite;
  }
  h1{
    margin:0;
    padding:0;
    font-size:3em;
    font-weight:300;
  }
  .bigHead{
    font-size:2em;
    vertical-align:middle;
  }
}


form{
  margin-left: 3%;
}

ul{
  list-style: none;
}

#listcolor{
  color: white;
}

body {
  color: white;
}
h2{
  color:white;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.header{
  text-align:center;
  margin-top:9%;
}
.headerTitle {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    font-size:100px;
    margin:0;
    padding:0;
}

.budgetPage{
  h1 {
    font-family:'Oswald', sans-serif;
    color:rgba(255,255,255,.7);
    font-size:4em;
    text-align:center;
  }
  h3 {
      font-size:2em;
      font-family: 'Oswald', sans-serif;
      color:white;
      text-align:left;
  }
  li{
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:1.5em;
  }
  section{
    width:40%;
    display:inline-block;
    vertical-align:top;
    margin: 0 7%;
  }
  aside{
    width:30%;
    display:inline-block;
    margin-right:7%;
  }
  button{
    background-color:$offwhite;
    border:none;
    font-family: 'Oswald', sans-serif;
    font-weight:300;

  }
}

h3 {
    font-size:1.5em;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight:300;
}
.dateForm {
    text-align:center;
    input {
        font-weight:300;
        width:150px;
        margin-left:auto;
        margin-right:auto;
        padding: 10px;
        border: none;
    }
    .subButt {
        border-radius:4px;
        font-family: 'Great Vibes', cursive;
        font-size:1.6em;
        padding-top:5px;
        padding-bottom:3px;
        padding-left:10px;
        padding-right:13px;
        background-color:rgba(0, 140, 186, .7);
    }
    .subButt:hover {
        background-color:rgba(0, 140, 186, 1);
    }
}
