.form2rsvp {
  margin-left: 22%;
  margin-top: 6%; }
  .form2rsvp h3 {
    color: white; }

.stylethersvpform {
  background-color: rgba(249, 227, 205, 0.7);
  width: 684px;
  border-radius: 13px;
  height: 251px;
  border-bottom-color: white;
  margin-bottom: 2%;
  margin-top: 1%;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  overflow-y: scroll;
  margin-left: 22%; }

#buttonwrsvp {
  border-radius: 33%;
  background-color: white;
  border: none; }

#basic-slide {
  font-size: 24px;
  display: inline-block;
  width: 326px;
  padding: 10px 0 10px 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: black;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all .3s ease-in-out; }
  #basic-slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300; }

#basic-slide:focus,
#basic-slide:active {
  color: black;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  #basic-slide:focus::-webkit-input-placeholder,
  #basic-slide:active::-webkit-input-placeholder {
    color: #aaa; }
  #basic-slide:focus + label,
  #basic-slide:active + label {
    transform: translateX(-100%); }

body {
  background-image: url(../images/tbdBG.png);
  background-size: 100%;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; }
  header ul {
    margin: 0;
    padding: 0; }
  header li {
    display: inline-block;
    list-style: none;
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    vertical-align: middle;
    margin: 0 1%; }
  header a {
    text-decoration: none;
    color: #F9E3CD; }
  header h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 300; }
  header .bigHead {
    font-size: 2em;
    vertical-align: middle; }

form {
  margin-left: 3%; }

ul {
  list-style: none; }

tt {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 300; }

#listColor {
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  font-weight: 200;
  margin-left: 2%;
  color: white; }

.rsvpConfirmed {
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  font-weight: 200;
  margin-left: 2%;
  color: white; }

.stylersvpclass #listColor input {
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  font-weight: 200;
  margin-left: 2%;
  color: white; }

#buttonwrsvp {
  margin-left: 2%;
  height: 54px;
  width: 66px; }

.stylethersvpform p {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-left: 2%; }

body {
  color: #F9E3CD; }

h2 {
  color: #F9E3CD; }

.done-true {
  text-decoration: line-through;
  color: green; }

.header {
  text-align: center;
  margin-top: 9%; }

.headerTitle {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 100px;
  margin: 0;
  padding: 0; }

.budgetPage .budChart {
  background-color: rgba(249, 227, 205, 0.7);
  width: 64%;
  margin-left: 18%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  border-radius: 5px; }
  .budgetPage .budChart .expenseItem {
    text-align: left;
    width: 57%;
    display: inline-block;
    margin-left: 2%; }
  .budgetPage .budChart .expensePrice {
    text-align: right;
    width: 40%;
    display: inline-block; }
.budgetPage form {
  margin-left: 2%; }
.budgetPage h2 {
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center; }
.budgetPage .expenseForm {
  text-align: center; }
.budgetPage h3 {
  display: inline-block;
  margin: 0;
  padding: 0; }
.budgetPage li {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.5em; }
.budgetPage button {
  background-color: #F9E3CD;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1em; }
.budgetPage input {
  font-size: 1em; }
.budgetPage .initialBQ {
  text-align: center; }
.budgetPage p {
  padding: 0;
  margin: 0; }
.budgetPage hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); }

h3 {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 300; }

.dateForm {
  text-align: center; }
  .dateForm input {
    font-weight: 300;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none; }
  .dateForm .subButt {
    border-radius: 4px;
    font-family: 'Great Vibes', cursive;
    font-size: 1.6em;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 13px;
    background-color: rgba(0, 140, 186, 0.7); }
  .dateForm .subButt:hover {
    background-color: #008cba; }

/*# sourceMappingURL=main.css.map */
