.slideOne {
  width: 50px;
  height: 10px;
  background: #333;
  margin: 20px auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }

.slideOne label {
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: -3px;
  left: -3px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); }

.slideOne input[type=checkbox]:checked + label {
  left: 37px; }

form {
  margin-left: 3%; }

ul {
  list-style: none; }

#listcolor {
  color: white; }

body {
  color: white; }

h2 {
  color: white; }

li {
  color: white; }

.done-true {
  text-decoration: line-through;
  color: #ddd; }

img.bg {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.headerTitle {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 100px;
  text-align: center;
  margin-top: 10%; }

.budgetPage h1 {
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 4em;
  text-align: center; }
.budgetPage h3 {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.7); }
.budgetPage li {
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.7); }

h3 {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.7); }

.dateForm {
  text-align: center; }
  .dateForm input {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 300;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none; }
  .dateForm .subButt {
    border-radius: 4px;
    font-family: 'Great Vibes', cursive;
    font-size: 1.6em;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 13px;
    background-color: rgba(0, 140, 186, 0.7); }
  .dateForm .subButt:hover {
    background-color: #008cba; }
